* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif !important; */
    font-family: 'Roboto', sans-serif;

}

html {
    scroll-behavior: smooth;
}

.header {
    
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: linear-gradient(rgba(2, 70, 4, 0.9), rgba(5, 77, 2, 0.4)), url('https://media.istockphoto.com/id/1124959996/photo/two-hand-helping-planting-young-tree-for-save-world.jpg?s=612x612&w=0&k=20&c=fjD1MQqzDDY-yyvrEXwmHYaRs0NPeNB4zNDFWL34kJY=');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


@media screen and (max-width: 558px) {
    .header {
        border-bottom-left-radius: 150px;
        border-bottom-right-radius: 150px;
        height: 80vh;
    }
   

}
@media screen and (min-width: 558px) {
    .header {
        border-bottom-left-radius: 150px;
        border-bottom-right-radius: 150px;
        height: 80vh;
    }
   

}
@media screen and (min-width:768px) {
    .header {
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
        height: 50vh;
    }
    .head-text{
        margin-top: 50px !important;
    }
}
@media screen and (min-width: 1100px) {
    .header {
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
        height: 80vh;
    }
   

}



.text h2 {
    color: yellow !important;
    font-weight: bold;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.btns a {
    padding: 15px;
    color: white;
    border-radius: 30px;
    font-size: 19px;
    border: 2px solid white;

}
.btns a:hover{
    color: white;
    background-color: green;
}
.head-text h2 i{
color: rgb(132, 213, 200);
}



.side-Image{
background-image: url(https://images.pexels.com/photos/7475711/pexels-photo-7475711.jpeg?auto=compress&cs=tinysrgb&w=600);
    height: 700px;
    background-position: center center;
    background-size: cover;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom: 10px solid green;
}
.ic{
    color: rgb(244, 242, 240);
}
.objectives{
    
    background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.8)), url('images/Bg-plantation.jpg'); 
    background-size: cover;
    background-position: center center;
}
.card{
    background-color: rgb(2, 92, 2);

    margin-top: 20px !important;
}
.ob-body{
    color: wheat;
}
.icoon{
    font-size: 55px;
    padding: 20px !important;
}
.ob-body .card-title{
    color: white;
}