.gradient-custom-2 {
  /* fallback for old browsers */
  background: #CF3426 ;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #c5dfb0 );
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #c5dfb0  );
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }
  .btn {
    background-color:rgb(21, 56, 21) ;
    border-color: rgb(21, 56, 21);
  }
  .btn:hover {
    background-color: rgb(35, 95, 35);
    border-color: rgb(35, 95, 35);
  }
  .btn:active{
    background-color: rgb(35, 95, 35);
    border-color: rgb(35, 95, 35);
    
  }
  .btn:focus{
    background-color: rgb(35, 95, 35);
    border-color: rgb(35, 95, 35);
  }
  .btn:visited{
    background-color: rgb(35, 95, 35);
    border-color: transparent;
  }